body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.box-container {
    display: flex;

}

.box {
    width: 100px;
    height: 100px;
}

.box.red {
    background-color:green;
}

.box.green {
    background-color: blue;
}

.box.blue {
    background-color: red;
}