.navbar {
    background-color: grey;
    overflow: hidden;
    display: flex;
            justify-content: space-between;
            align-items: center;
}
nav{
    display: flex;
}
.navbar a {
    float: right;
    display: block;
    color:darkblue;
    padding: 14px 16px;
    text-decoration: none;
}

.appleseeds {
    color: darkblue;
    font-size: 25px;
    font-weight: bold;
}

@media (max-width: 768px) {
   .navbar{
    flex-direction: column;
   }
   nav{
    flex-direction: column;
   }
}