
.container {
    position: relative;
    width: 1000px;
    height: 1000px;
}

.container>div {
    border: 3px solid black;
    background-color: white;
    position: absolute;
}

.one {
    height: 40%;
    width: 20%;
    z-index: -1;
    
}

.two {
    height: 20%;
    width: 20%;
    left: 10%;
    top: 13%;

}

.three {
    height: 15%;
    width: 50%;
    top: 273px;
}

.four {
    height: 45%;
    width: 10%;
    left:385px;
}
