.box-container {
    display: flex;
    justify-content: space-between;
}

.box {
    width: 100px;
    height: 100px;
}

.box.red {
    background-color:green;
}

.box.green {
    background-color: blue;
}

.box.blue {
    background-color: red;
}