[data-tooltip] {
    position: relative;
    text-decoration: none;
    color: purple;
}

[data-tooltip]:before {
    content: attr(data-tooltip);
    position: absolute;
    background-color: yellow;
    color: black;
    padding: 5px;
    visibility: hidden;
    bottom: 90%;
    white-space: nowrap;
}

[data-tooltip]:hover:before {
    visibility: visible;
    opacity: 1;
}